.page-header {
    min-height: 100%;
    text-align: center;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -15px;
}
.header-contents {
    top: 50%;
    position:absolute;
}
.header-contents h1 {
    font-size: 120px;
    font-weight: 300;
}
.header-contents button {
    font-size: 35px;
    border-radius: 30px;
    font-weight: 300;
}

.header-contents button:focus {
    outline: None;
}
